<ion-content>
    <div class="login-section ion-padding">
        <div class="heading ion-padding">
            <h1>Registro de nueva cuenta</h1>
        </div>
        <form (ngSubmit)="registrarUsuario()">
            <div class="login-form ion-padding">

                <!-- Campo para el Nombre Completo -->
                <div class="form-input">
                    <ion-icon name="person-outline"></ion-icon>
                    <ion-item>
                        <ion-input label="Nombre" labelPlacement="floating" placeholder="Ingrese su nombre" [(ngModel)]="nombre" name="nombre" required></ion-input>
                    </ion-item>
                </div>

                <!-- Campo para el Apellido -->
                <div class="form-input">
                    <ion-icon name="person-outline"></ion-icon>
                    <ion-item>
                        <ion-input label="Apellido" labelPlacement="floating" placeholder="Ingrese su apellido" [(ngModel)]="apellido" name="apellido" required></ion-input>
                    </ion-item>
                </div>

                <!-- Campo para el Correo -->
                <div class="form-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <ion-item>
                        <ion-input label="Correo" labelPlacement="floating" placeholder="Ingrese su correo" [(ngModel)]="correo" name="correo" type="email" required></ion-input>
                    </ion-item>
                </div>

                <!-- Campo para la Contraseña -->
                <div class="form-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <ion-item>
                        <ion-input label="Contraseña" labelPlacement="floating" placeholder="Ingrese su contraseña" [(ngModel)]="contrasena" name="contrasena" type="password" required></ion-input>
                    </ion-item>
                </div>

                <!-- Botones de Registro y Navegación a Login -->
                <div class="action-button ion-padding">
                    <ion-button size="large" class="login-button" type="submit">Registrarme</ion-button>
                    <ion-button class="signup-button" size="large" fill="outline" routerLink="/login">Iniciar sesión</ion-button>
                </div>

            </div>
        </form>
    </div>
</ion-content>