<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/principal"></ion-back-button>
        </ion-buttons>
        <ion-title>Nosotros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding custom-background">
    <div class="header-image">
        <img src="/assets/torneo.jpg" alt="Sobre Nosotros" />
    </div>

    <div class="content-wrapper">
        <ion-card class="content-card vibrant-card">
            <ion-card-header>
                <ion-card-title>¿Quiénes Somos?</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Somos <strong>Conexión Deporte</strong>, una aplicación dedicada a estudiantes de Duoc UC que aman el fútbol y el pádel. Nuestro objetivo es facilitar el proceso de reserva de canchas y la organización de torneos para que puedas concentrarte
                en lo que más importa: ¡jugar y competir!
            </ion-card-content>
        </ion-card>

        <ion-card class="content-card vibrant-card">
            <ion-card-header>
                <ion-card-title>¿Qué Ofrecemos?</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Desde la reserva de canchas hasta la organización de torneos y el seguimiento de tus reservas, te ofrecemos una plataforma fácil de usar que está diseñada para mejorar tu experiencia deportiva en el campus.
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>