ion-content{
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
        url("/assets/loginfutbolpadel.jpg") no-repeat center center / cover;

}

ion-card{
    background-color: rgba(66, 73, 155, 0.374);
    
}
ion-card-title{
    color: white;
}
    
ion-footer{
    background-color: rgba(104, 104, 104, 0.08);
}


