<ion-header>
    <ion-toolbar>
      <ion-title>Panel de Administración</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="reservas">
        Reservas
      </ion-segment-button>
      <ion-segment-button value="canchas">
        Canchas
      </ion-segment-button>
      <ion-segment-button value="torneos">
        Torneos
      </ion-segment-button>
    </ion-segment>
  
    <ng-container *ngIf="selectedSegment === 'reservas'">
      <h2>Reservas</h2>
      <!-- Aquí muestra la lista de reservas -->
    </ng-container>
  
    <ng-container *ngIf="selectedSegment === 'canchas'">
      <h2>Canchas</h2>
      <!-- Aquí muestra la lista de canchas -->
    </ng-container>
  
    <ng-container *ngIf="selectedSegment === 'torneos'">
      <h2>Torneos</h2>
      <!-- Aquí muestra la lista de torneos -->
    </ng-container>
  </ion-content>