<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Olvide mi contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<h2>

</h2>


<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">

    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-textarea label="Ingrese su correo ya registrado" labelPlacement="floating" fill="solid"
          placeholder=""></ion-textarea>
      </div>
      <div class="form-input">

        <ion-textarea label="Confirme su correo registrado" labelPlacement="floating" fill="solid"
          placeholder=""></ion-textarea>

      </div>
    </div>
    <div class="action-button ion-padding">
      <ion-button size="large" class="login-button">Recuperar mi contraseña</ion-button>
      
    </div>
  </div>




</ion-content>
