ion-content {
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("/assets/torneo.jpg") no-repeat center center / cover;
}

ion-header {
    --background: linear-gradient(90deg, #004aad, #0084ff);
    color: white;
}

ion-toolbar {
    text-align: center;
}

ion-title {
    font-weight: bold;
    font-size: 1.5rem;
}

ion-item {
    background: #ffffff;
    border-radius: 10px;
    margin: 10px 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    /* Espaciado y sombra para el item */
}


/* Estilo para la imagen de la copa */

.trophy-image img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    /* Tamaño cuadrado con bordes circulares */
    object-fit: cover;
}

ion-label h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #004aad;
}

ion-label p {
    color: #5a5a5a;
    font-size: 1rem;
    margin-top: 4px;
}

ion-button {
    --background: #0084ff;
    --color: white;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 8px;
    margin-left: 10px;
}

ion-button[color="danger"] {
    --background: #ff3b30;
    color: white;
}