<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/principal"></ion-back-button>
        </ion-buttons>
        <ion-title>Historial de Reservas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="correo" name="correo" type="email" required></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="consultarHistorial()">Consultar Historial</ion-button>

    <ion-list *ngIf="historialReservas.length > 0">
        <ion-item *ngFor="let reserva of historialReservas">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Reserva en Cancha ID: {{ reserva.id_cancha }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>Fecha: {{ reserva.fecha_reserva | date:'fullDate' }}</p>
                    <p>Horario: {{ reserva.horario }}</p>
                    <p>Estado: {{ reserva.estado_reserva }}</p>
                    <p>Correo: {{ reserva.correo }}</p>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>

    <ion-item *ngIf="historialReservas.length === 0">
        <ion-label>No se encontraron reservas para este correo.</ion-label>
    </ion-item>
</ion-content>